@charset "utf-8";
/* CSS Document */

h1, p
{
    text-align: center;
}

a
{
    text-decoration:none;
}

.midbox
{
    margin: 0 auto;
    width: 980px;
    background-color: aliceblue;
}

.appcubic
{
    float: left;
    width: 480px;
}

.iconbox
{
    float: left;
    width: 80px;
}

.infobox
{
    float: left;
    width: 320px;
}

.buttonbox
{
    float: left;
    width: 80px;
}

.space
{
    float: left;
    width: 20px;
    }

.softtitle
{
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(0, 157, 255);
}

.categories
{
    font-size: 0.75em;
}

.introduce
{
    font-size: 0.9em;
    font-style: italic;
    color: grey;
}